*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-width: 1200px;
    width: 100%;
    margin: 25px auto;
    background-color: darkblue;
    position: relative;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 50vh;
}

.container h2 {
    text-transform: capitalize;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: cursive;
    color: white;
    margin: 20px auto;
    text-align: center;
}
.container img{
    width: 100%;
    height: 500px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}

.container button{
    width: 200px;
    height: 100px;
    background-color: white;
    color: blue;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin: 30px auto;
    transition: all 0.5s ease;
    display: block;
    cursor: pointer;
}

.container button:hover{
    background-color: blue;
    color: white;
    border: 2px solid black;
}